@import 'https://fonts.googleapis.com/css?family=Exo:200,500';


body {
    background-image: url(https://s1.1zoom.me/b5556/383/Fishing_rod_531497_1920x1080.jpg);
    font-family: Exo, open-sans;
  }#des{
color: aliceblue;




  }#produto{
color: aliceblue;


  }
  #peixes{
color: rgb(19, 143, 7);


  }